* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins, sans-serif'; */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.link-item {
  color: white;
  font-size: 16px;
  text-decoration-line: none;
  transition: 1s;
}
.link-item:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 10px #0fa;
  transform: scale(1.1);
}
.rounded-border {
  border-radius: 0px 0px 0px 90px;
}

.link-font {
  font-size: 10px;
}
.sidebar {
  width: 120px;
  height: 88vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.sidebar-border {
  border-radius: 0px 90px 0px 0px;
  /* background: rgb(34,58,117); */
  /* background: : #1F2C4F; */
  background: linear-gradient(
    190deg,
    rgba(34, 58, 117, 1) 45%,
    rgba(10, 20, 47, 1) 100%
  );
  /* background: rgb(31,44,79); */
  /* background: linear-gradient(90deg, rgba(31,44,79,1) 100%, rgba(31,44,79,1) 0%); */
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid-line {
  /* background: #B6B6B6; */
  background-color: red;
  height: 200px;
  width: 100vw;
}

.topbar {
  background: rgb(34, 58, 117);
  background: linear-gradient(
    90deg,
    rgba(34, 58, 117, 1) 75%,
    rgba(10, 20, 47, 1) 100%
  );
}

.card-data {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
}
.overlapping-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.products-logo {
  display: grid;
  place-items: center;
  background: white;
  box-shadow: 0px 7px #39a5f5;
  border-radius: 12px;
  margin-top: -2rem;
}

.scrolling-text {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;

  white-space: nowrap;
  width: 100%;
  /* width: 100vw; */
  /* height: 3rem; */
  /* animation: scroll-left 10s linear infinite; */
  opacity: 0.5;
  overflow-x: hidden;
}

.header {
  height: 50px;
  margin: 0 10px;

  text-align: center;
  overflow-x: hidden;
  
}


@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.stroked-text {
  /* font-size: 36px; */
  font-weight: bold;
  color: white;
  -webkit-text-stroke-width: 2px; /* Webkit browsers like Chrome and Safari */
  -webkit-text-stroke-color: black; /* Webkit browsers like Chrome and Safari */
  /* text-stroke-width: 2px; Standard CSS property */
  /* text-stroke-color: black; Standard CSS property */
}




.polygon-1,
.polygon-1 * {
  box-sizing: border-box;
}
.polygon-1 {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  position: relative;
  transform: translate(65.26px, -89.15px);
  overflow: visible;
  transition: 1s;
}
.polygon-1 path {
  transition: stroke 1s ease;
}

.polygon-1:hover path{
  stroke: rgb(22, 4, 56);

}